<div class="header">
  <h1>Standard Bank Pokemon Assessment</h1>
  <form>
    <input type="text" placeholder="Search Pokemon..." [(ngModel)]="searchText" name="searchText" (input)="filterPokemons()">
  </form>
</div>

<div class="pokemon-grid">
  <div class="pokemon-card" *ngFor="let pokemon of filteredPokemons" [routerLink]="['/pokemon', pokemon.id]">
    <img [src]="pokemon.image" [alt]="pokemon.name" width="50" height="50" />
    <div class="pokemon-name">{{ pokemon.name }}</div>
  </div>
</div>
